@import 'tailwindcss';

/* Automatically applies crisp white transparency filtering to all custom date pickers */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  opacity: 0.8;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
